* { 
    box-sizing: border-box;
}

body {
    background-color: #F9EBDE;
    color: #815854;
}

input {
    width: 60px;
    text-align: center;
}

button {
    background-color: #815854;
    color: #F9EBDE;
    padding: 5px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #442b29;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
    width: 95vw;
    height: 80vh;
    border: 3px solid #815854;
    gap: 50px;
    overflow: auto;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-self: center;
    gap: 5px;
    border-top: 1px solid lightgray;
    padding: 12px;
    margin-bottom: 10px;
}

.matrix_label {
    margin: 20px 0 0 0;
    text-align: center;
}

.matrix_size {
    text-align: center;
    margin: 8px;
}

.change_operations {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.change_operations > button {
    width: 40px;
}

.math_operations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.results {
    display: flex;
    flex-direction: column-reverse;
    flex-grow: 1;
    align-items: center;
    height: 75vh;
    overflow: auto auto;
}

.results > div:last-of-type {
    background-color: #a87d79;
}

.results > div:last-of-type > input {
    background-color: #EBEBE4;
}


@media (max-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        flex-direction: column;
        gap: 30px;
    }
}