* { 
    box-sizing: border-box;
}

body {
    background-color: #3C4142;
    color: white;
}

input {
    width: 60px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
    width: 95vw;
    height: 100vh;
    border: 3px solid lightgray;
    gap: 5px;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 5px;
    border: 1px solid lightgray;
    padding: 5px;
    margin-bottom: 10px;
}


.change_operations {
    display: flex;
    justify-content: left;
    gap: 5px;
}

.math_operations {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 12px;
}

.results {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
}


@media (max-width: 900px) {
    .container {
        flex-direction: column;
        gap: 30px;
    }
}