* { 
    box-sizing: border-box;
}

body {
    background-color: #F9EBDE;
    color: #815854;
}

input {
    width: 60px;
    text-align: center;
}

button {
    background-color: #815854;
    color: #F9EBDE;
    padding: 5px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #442b29;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-self: center;
    align-items: center;
    width: 95vw;
    height: 80vh;
    border: 3px solid #815854;
    gap: 5px;
    overflow: auto;
}

.matrix {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 5px;
    border: 1px solid lightgray;
    padding: 5px;
    margin-bottom: 10px;
}

.change_operations {
    display: flex;
    justify-content: left;
    gap: 5px;
}

.math_operations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

.results {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 75vh;
    overflow: hidden auto;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        gap: 30px;
    }
}