.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "header    header"
    "full_name title"
    "profile   contact"
    ".         education"
    "about     about"
    "skills    hobbies";
    width: 45%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url("../img/background.jpg");
}

.container div {
    padding: 10px;
}

.info-background {
    background-color: #ced4da;
    border-radius: 20px;
    margin: 15px;
}

.header {
    grid-column: 1 / span 2;
    justify-self: center;
}

.profile {
    grid-row: 3 / span 2;
    justify-self: center;
    align-self: center;
}

.profile img {
    width: 250px;
    height: 320px;
    border-radius: 20px;
}

.full_name, .title {
    justify-self: stretch;
    background-color: #6c757d;
    color: white;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}   

.contact ul, .education ul {
    list-style: none;
    padding: 0px;
}

.about {
    grid-column: 1 / span 2;
}

.skills ul, .hobbies ul {
    padding-left: 16px;
}
